beautifulsoup4
bs4
huggingface-hub
matplotlib
mysql-connector-python
nltk
numpy
opencv-python
Pillow
pytesseract
regex
scikit-learn
textblob
tokenizers
torch
torchvision
transformers
ultralytics
urllib3
watchdog
